<extend name="freight_layout" />
<block name="freight_content">
    <div class="col-md-12">
        <div class="smart-widget">
            <div class="smart-widget-inner">

                <div class="smart-widget-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active">
                            <h4 class="header-text m-top-md">添加货运信息</h4>
                            <form class="form-horizontal m-top-md" id="updateForm" action="__ROOT__/Admin/Freight/doAction/action/add" method="post">

                                <input type="hidden" value={$data.id} name="id" id="id">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="car_date">日期</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" name="car_date" id="car_date" value={$today}>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="car_no">车牌号</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="car_no" id="car_no" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="car_driver">驾驶员</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"  name="car_driver" id="car_driver" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="goods_name">货物名称</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"  name="goods_name" id="goods_name" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="loading_place">装货地</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"  name="loading_place" id="loading_place" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="unloading_place">卸货地</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"  name="unloading_place" id="unloading_place" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="loading_tonnage">发货吨位</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"  name="loading_tonnage" id="loading_tonnage" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="unloading_tonnage">收货吨位</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"  name="unloading_tonnage" id="unloading_tonnage" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="ticket_number">票号</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"  name="ticket_number" id="ticket_number" value="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="amount">金额</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="amount" id="amount" value="">
                                    </div>
                                </div>

                                <div class="form-group m-top-lg">
                                    <label class="col-sm-12  control-label"></label>
                                    <div class="col-sm-3 col-sm-offset-3" >
                                        <input type="submit" class="btn btn-info btn-block" value="新添加" name="send" id="edit">
                                    </div>
                                    <div class="col-sm-3 ">
                                        <input type="reset" class="btn  btn-default m-left-xs btn-block" value="重置">
                                    </div>
                                </div>

                            </form>
                        </div><!-- ./tab-pane -->
                    </div><!-- ./tab-content -->
                </div><!-- ./smart-widget-body -->
            </div><!-- ./smart-widget-inner -->
        </div><!-- ./smart-widget -->
    </div>
</block>