<aside class="sidebar-menu fixed">
    <div class="sidebar-inner scrollable-sidebar">
        <div class="main-menu">
            <ul class="accordion">
                <li class="menu-header">
                    Main Menu
                </li>
                <li class="bg-palette1">
                    <a href="__ROOT__/Admin/Index/index">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-home fa-lg"></i></span>
                            <span class="text m-left-sm">后台主页</span>
                        </span>
                        <span class="menu-content-hover block">
                            Home
                        </span>
                    </a>
                </li>
                <li class="openable bg-palette3">
                    <a href="#">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-car fa-lg"></i></span>
                            <span class="text m-left-sm">车辆管理</span>
                            <span class="submenu-icon"></span>
                        </span>
                        <span class="menu-content-hover block">
                            车辆
                        </span>
                    </a>
                    <ul class="submenu bg-palette4">
                        <li><a href="__ROOT__/Admin/Car/doAction/action/all/">
                            <span class="submenu-label">车辆信息一栏</span></a>
                        </li>
                        <li><a href="__ROOT__/Admin/Car/doAction/action/addShow/">
                            <span class="submenu-label">添加车辆信息</span></a>
                        </li>
                    </ul>
                </li>

                <li class="openable bg-palette3">
                    <a href="#">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-user fa-lg"></i></span>
                            <span class="text m-left-sm">客户管理</span>
                            <span class="submenu-icon"></span>
                        </span>
                        <span class="menu-content-hover block">
                            客户
                        </span>
                    </a>
                    <ul class="submenu bg-palette4">
                        <li><a href="__ROOT__/Admin/Customer/doAction/action/all/">
                            <span class="submenu-label">客户信息一栏</span></a>
                        </li>
                        <li><a href="__ROOT__/Admin/Customer/doAction/action/addShow/">
                            <span class="submenu-label">添加客户信息</span></a>
                        </li>
                    </ul>
                </li>


                <li class="openable bg-palette3">
                    <a href="#">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-child fa-lg"></i></span>
                            <span class="text m-left-sm">驾驶员管理</span>
                            <span class="submenu-icon"></span>
                        </span>
                        <span class="menu-content-hover block">
                            车辆
                        </span>
                    </a>
                    <ul class="submenu bg-palette4">
                        <li><a href="__ROOT__/Admin/Driver/doAction/action/all/">
                            <span class="submenu-label">驾驶员信息一栏</span></a>
                        </li>
                        <li><a href="__ROOT__/Admin/Driver/doAction/action/addShow/">
                            <span class="submenu-label">添加驾驶员信息</span></a>
                        </li>
                    </ul>
                </li>
                <li class="bg-palette1">
                    <a href="__ROOT__/Admin/User/doAction/action/the">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-university fa-lg"></i></span>
                            <span class="text m-left-sm">配件商管理</span>
                        </span>
                        <span class="menu-content-hover block">
                            配件商
                        </span>
                    </a>
                </li>
                <li class="openable bg-palette1">
                    <a href="#">
                        <span class="menu-content block">
                        <span class="menu-icon"><i class="block fa  fa-space-shuttle fa-lg"></i></span>
                        <span class="text m-left-sm">货运管理</span>
                        <span class="submenu-icon"></span>
                        </span>
                        <span class="menu-content-hover block">
                            货运
                        </span>
                    </a>
                    <ul class="submenu bg-palette4">
                        <li><a href="__ROOT__/Admin/Freight/doAction/action/all/">
                                <span class="submenu-label">货运一栏表</span>
                            </a>
                        </li>
                        <li><a href="__ROOT__/Admin/Freight/doAction/action/addShow/">
                                <span class="submenu-label">添加新货运信息</span>
                            </a>
                        </li>
                        <li><a href="__ROOT__/Admin/Freight/doAction/action/freightByCase/">
                                <span class="submenu-label">按条件查询</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="openable bg-palette1">
                    <a href="#">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa  fa-space-shuttle fa-lg"></i></span>
                            <span class="text m-left-sm">费用管理</span>
                            <span class="submenu-icon"></span>
                        </span>
                        <span class="menu-content-hover block">
                            费用
                        </span>
                    </a>
                    <ul class="submenu bg-palette4">
                        <li><a href="__ROOT__/Admin/Cost/doAction/action/all/">
                            <span class="submenu-label">费用一览表</span>
                        </a>
                        </li>
                        <!--<li><a href="__ROOT__/Admin/Cost/doAction/action/addShow/">-->
                            <!--<span class="submenu-label">报销费用输入</span>-->
                        <!--</a>-->
                        <!--</li>-->
                        <li><a href="__ROOT__/Admin/Cost/doAction/action/fixedShow/">
                            <span class="submenu-label">报销费用输入</span>
                        </a>
                        </li>
                        <li><a href="__ROOT__/Admin/Cost/doAction/action/costByCase/">
                            <span class="submenu-label">按条件查询</span>
                        </a>
                        </li>
                    </ul>
                </li>

                <li class="openable bg-palette1">
                    <a href="#">
                        <span class="menu-content block">
                            <span class="menu-icon"><i class="block fa fa-file-text fa-lg"></i></span>
                            <span class="text m-left-sm">报表管理</span>
                            <span class="submenu-icon"></span>
                        </span>
                        <span class="menu-content-hover block">
                            报表
                        </span>
                    </a>
                    <ul class="submenu bg-palette4">
                        <li><a href="__ROOT__/Admin/Report/doAction/action/freight/">
                            <span class="submenu-label">货运报表</span></a>
                        </li>
                        <li><a href="__ROOT__/Admin/Report/doAction/action/car/">
                            <span class="submenu-label">车辆报表</span></a>
                        </li>
                        <li><a href="__ROOT__/Admin/Report/doAction/action/income/">
                            <span class="submenu-label">利润报表</span></a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- sidebar-inner -->
</aside>