<extend name="car_layout" />
<block name="car_content">
    <div class="col-md-12">
        <div class="smart-widget">
            <div class="smart-widget-inner">

                <div class="smart-widget-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active">
                            <h4 class="header-text m-top-md">编辑车辆信息</h4>
                            <form class="form-horizontal m-top-md" id="updateForm" action="__ROOT__/Admin/Car/doAction/action/update" method="post">

                                <input type="hidden" value={$data.id} name="id" id="id">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="car_no">车牌号</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="car_no" id="car_no" value={$data.car_no}>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="car_frame">车架号</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"  name="car_frame" id="car_frame" value="{$data.car_frame}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="car_owner">车主</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control"  name="car_owner" id="car_owner" value="{$data.car_owner}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="car_insurance_expires">车险过期日期</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" name="car_insurance_expires" id="car_insurance_expires" value={$data.car_insurance_expires}>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="car_insurance_name">保险公司名称</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="car_insurance_name" id="car_insurance_name" value={$data.car_insurance_name}>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="insert_time">该车辆信息创建时间</label>
                                    <div class="col-sm-9">
                                        <textarea disabled type="text" class="form-control" name="insert_time" id="insert_time" >{$data.insert_time}</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="edit_time">最近更新时间</label>
                                    <div class="col-sm-9">
                                        <textarea disabled type="text" class="form-control" name="edit_time" id="edit_time" >{$data.edit_time}</textarea>
                                    </div>
                                </div>

                                <div class="form-group m-top-lg">
                                    <label class="col-sm-12  control-label"></label>
                                    <div class="col-sm-3 col-sm-offset-3" >
                                        <input type="submit" class="btn btn-info btn-block" value="提交" name="send" id="edit">
                                    </div>
                                    <div class="col-sm-3 ">
                                        <input type="reset" class="btn  btn-default m-left-xs btn-block" value="重置">
                                    </div>
                                </div>

                            </form>
                        </div><!-- ./tab-pane -->
                    </div><!-- ./tab-content -->
                </div><!-- ./smart-widget-body -->
            </div><!-- ./smart-widget-inner -->
        </div><!-- ./smart-widget -->
    </div>
</block>